</br>

<div class="container">

<div class="panel panel-default">
  <div class="panel-body">

  <div class="dynamic"><%= render 'map'%></div>


<div class="row"></div>

  <%= render 'form'%>

</div>
</div>

</div>

<%= link_to 'New Pub', new_pub_path %>